* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Soft white overlay background */
    background:
        linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
        url("https://iiitbh.ac.in/sites/default/files/2020-05/Proposed%20IIIT%20Bhagalpur%20Building1.jpg")
        no-repeat center;

    background-size: 80%;
}

/* Box */
.container {
    background: rgba(255,255,255,0.9);
    padding: 30px 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Heading */
h2 {
    margin-bottom: 15px;
}

/* Inputs */
input {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button */
button {
    width: 95%;
    padding: 10px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e68900;
}

/* Text */
p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.back-arrow:hover {
    color: #555;
}
